/* ---Reset--- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --white: #fff;
    --darkOrange: #e66465;
    --gradient: #9198e5;
    --brown: #555;
    --navy: #002765;
    --snow: #edeef0;
    --whiteSnow: #e6e6e6;

}

/* --- Main Content --- */

.list-container {
    max-height: 220px;
    overflow-y: auto;
}

.todo-list-container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.todo-application {
    width: 100%;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    background: var(--white);
    margin-top: 50px;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
    border-top: 1px solid var(--brown);
    border-left: 1px solid var(--brown);
    border-right: 1px solid var(--brown);
    box-shadow: -27px -30px 37px -16px rgba(30, 83, 167, 0.5);
}

.todo-application h1 {
    color: var(--navy);
    display: flex;
    align-items: center;
    font-size: 26px;
}

.todo-application img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.input-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    background: var(--snow);
    border-radius: 30px;
    margin-top: 20px;

}

.input-container input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

.input-container button {
    border: none;
    outline: none;
    padding: 16px;
    background: var(--darkOrange);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid var(--darkOrange);
}
.input-container button:hover {
    background: var(--white);
    color: var(--darkOrange);
}
/* --- List content --- */

.list-container li {
    list-style: none;
    font-size: 16px;
    padding: 16px 8px 16px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./images/circle-regular.svg);
    background-size: cover;
    background-position: center;
    top: 16px;
    left: 8px;

}

.list-checked {
    color: var(--brown);
    text-decoration: line-through;
}

.list-checked::before {
    background-image: url(./images/circle-check-regular.svg);
}

.list-container li .del-button {
    margin-left: 10px;
    background-color: var(--darkOrange);
    color: var(--white);
    border-radius: 50px;
    border: none;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 12px;
    padding: 8px;
    border: 1px solid var(--darkOrange);
    cursor: pointer;
}

.list-container li .del-button:hover {
    color: var(--darkOrange);
    background-color: var(--white);
}

/* --- Bottom --- */

.todos-bottom {
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: var(--gradient);
    border-top: 1px solid var(--whiteSnow);
    border-radius: 0 0 8px 8px;
    border-top: none;
    border-bottom: 1px solid var(--brown);
    border-left: 1px solid var(--brown);
    border-right: 1px solid var(--brown);
    box-shadow: -13px 19px 16px -14px rgba(167,30,30,0.99);
    margin-bottom: 24px;
}

.filter-buttons {
    display: flex;
    gap: 10px;
}

.filter-buttons button {
    background: var(--darkOrange);
    border: none;
    cursor: pointer;
    color: var(--white);
    padding: 4px;
    border-radius: 50px;
    border: 1px solid var(--darkOrange);
}
.clear-completed {
    background: var(--darkOrange);
    color: var(--white);
    border: none;
    border-radius: 50px;
    padding: 4px;
    border: 1px solid var(--darkOrange);
}

.clear-completed:hover {
    background: var(--white);
    color: var(--darkOrange);
}

.filter-buttons button:hover {
    background: var(--white);
    color: var(--darkOrange);

}

.filter-buttons button.active {
    background: var(--white);
    color: var(--darkOrange);
    border: 1px solid var(--darkOrange);
}

.clear-completed.active {
    background: var(--white);
    color: var(--darkOrange);
    border: 1px solid var(--darkOrange);
}

/* --- Media --- */

@media screen and (min-width: 768px) {
    .list-container {
        max-height: 380px;
    }
    .todo-application {
        max-width: 500px;
        min-height: 600px;
    }

    .todos-bottom{
        max-width:500px;
        height: 100px;
    }

    .list-container li .del-button{
        width: 45px;
        height: 45px;
        font-size: 14px;
    }

    .filter-buttons button {
        width: 80px;
        height: 35px;
        font-size: 16px;
    }
    .clear-completed {
        width: 80px;
        height: 35px;
        font-size: 16px;
    }
    ul li::before {
        top: 22px;
    }
}